body {
  margin: 0px;
  -webkit-backface-visibility: hidden;
}

#editor {
  padding: 5px 20px;
}

#editor:focus {
  outline: 2px solid transparent;
}

#toolbar {
  position: sticky;
  top: 0;
  z-index: 11111;
  left: 0px;
  right: 0px;
  padding: 15px;
  background-color: red;
}

#toolbar.down {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.button {
  border-radius: 5px;
  background-color: transparent;
  border: 0px;
  padding: 3px 5px;
  line-height: 0px;
  display: inline-block;
  margin: 1px;
  cursor: pointer;
}

.button:hover {
  background-color: #e2e8f0;
}

input {
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
